.Header{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}
.Btn{
    /* margin: 100px auto; */
    display: flex;
    justify-content: center;
}
.StartBtn{
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    margin:40vh auto;
    border: 1px solid rgb(46, 33, 2);
    box-shadow: 0px 0px 50px 3px rgb(240, 234, 234);
    background-color:chartreuse;
    font-size: 20px;
    font-weight: 900;
    border-radius: 60px;
    
}
.StartBtn:hover{
    font-size: 21px;
}